.App {
  text-align: center;
}








.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.ui.cards {
  display: flex;
  margin: -.875em -.5em;
  align-items: center;
  flex-wrap: wrap;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hot-potato{
  text-align: center;
}

.avatar-button{
display: inline-grid;
position: relative;
bottom: 30px;

}
 div.a{
  text-align: center;
}

.bg{
  height: 50%;
  width: 50%;
  z-index: -200;
}


.Navbutton{
  background: white;
  width: 33%;
  padding: 4px 0;
  left: 50;
  top: 50%;
  border-radius: 3px;
  color: black;
  font-size: 30px;
}

.www{
    float: left;
    width: 300px;

    padding: 10px;
}
.potato{
float: right;
    width: 300px;

    padding: 10px;
}
.watchlist{

    width: 300px;

    padding: 10px;
}



legend {
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
}

.card-container {
  margin-top: 80px;
}



.sticky {

  top: 200px;
  left: 320px;
  z-index: 999;
  text-align: center;
}


/* .buttons{

align-items: center;
align-content: center;
align-items: center;
position: sticky;
top:0;
z-index:  1;
} */
/* .buttons{
position: sticky;
align-items: center;
align-content: center;
} */

.NavBar{
  background-color: white;



}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, .9, .3, 1.2) forwards;
  opacity: 0;
}

.header {
  text-align: left;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.center1 {
  margin: auto;
  width: 60%;
  border: 1px solid gray;
  padding:5px;

}





.show{
  padding: 10px;
}


@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
